@charset "utf-8";
/* 変数の登録 */
:root{
    --font_ja:'Zen Antique Soft', serif;
    --font_en:'Norican', cursive;
    --color_1:#601b04;
    --color_2:#613803;
    --color_3:#f1a65b;
    --color_4:#f1775b;
    --color_5:#cbfeb6;
}


/* リセット部分 */
html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

/* ヘッダー部分 */
header{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #ffffff55;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
    padding: 20px 30px;
}
h1{
    font-family: var(--font_en);
    font-size: 86px;
}
.tag-line{
    font-family: var(--font_ja);
    font-size: 24px;
}

/* ナビゲーション部分 */
#btn{
    background-color: #fff;
    position: fixed;
    top:0;
    right:0;
    z-index: 30;
    padding: 20px;
}
#btn:hover{
    opacity: 1;
}
#g-nav{
    width: 100%;
    height: 100vh;
    background: url(../img/parallax-3.webp) no-repeat center center / center;
    position: fixed;
    top:0;
    left:0;
    z-index: 20;
    display: none;
}
#g-nav>ul{
    width: 50%;
    height: 100vh;
    background-color: #f6e1baa9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top:0;
    right:0;
    padding: 100px 80px 0;
}
#g-nav li{
    margin-bottom: 14px;
    /* padding: 40px 0 0 200px; */
}
#g-nav a{
    color:#000;
    font-size: 20px;
    font-family: var(--font_ja);
    /* background-color: #fff; */
    display: block;
    padding: 8px;
    border-bottom:2px dotted #000;
}
#g-nav a:hover{
    color: var(--color_2);
    font-weight: bold;
    border-bottom: 2px dotted var(--color_2);
}
#g-nav a::before{
    content: attr(data-en);
    font-family: var(--font_en);
    margin-right: 20px;
    font-size: 14px;
}
html{
    scroll-behavior: smooth;
}

/* メインビジュアル部分 */
.main-visual{
    width: 100%;
    height: 100vh;
    /* display: none; */
}
.main-visual li{
    width: 100%;
    height: 100vh;
}

.main-visual img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* メインコピー部分 */
.main-copy{
    padding: 160px 10px;
    text-align: center;
}
.main-copy>h2{
    font-size: 30px;
    font-family: var(--font_ja);
    margin-bottom: 50px;
    line-height: 2;
}
.lead{
    font-size: 18px;
    line-height: 2.4;
}

/* ギャラリー部分 */
.gallery{
    max-width: 600px;
    margin: 0 auto 240px;
    position: relative;
}
.gallery>p:nth-of-type(1){
    box-shadow: 20px 20px 0 var(--color_3); /* 横、縦、影の距離、影の色 */
}

.gallery>p:nth-of-type(2){
    width: 60%;
    position: absolute;
    right: -100px;
    bottom: -140px;
    box-shadow: -20px 20px 0 var(--color_4);
}

/* セクション部分 */
main{
    padding: 0 10px;
}
section{
    padding: 140px 0;
    scroll-margin-top: -80px;
}
section>h3{
    font-family: var(--font_ja);
    text-align: center;
    font-size: 30px;
    color: var(--color_1);
    margin-bottom: 60px;
}
section>h3::before{
    content:attr(data-en);
    display: block;
    font-family: var(--font_en);
    font-size: 26px;
    color: var(--color_2);
}

/* ニュース部分 */
#news-list{
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap
}
#news-list>dt{
    width: 25%;
    font-weight: bold;
    padding: 30px 15px;
}
#news-list>dt:nth-of-type(odd){
    background-color: var(--color_5);
}
#news-list>dt:nth-of-type(n+4),#news-list>dd:nth-of-type(n+4){
    display: none;
}
#news-list>dd{
    width: 75%;
    padding: 30px 15px;
}
#news-list>dd:nth-of-type(odd){
    background-color: var(--color_5);
}

/* パララックス部分 */
.parallax-1{
    width: 100%;
    height: 100vh;
    background: url(../img/parallax-1.webp) no-repeat center center / cover fixed;
}
.parallax-2{
    width: 100%;
    height: 100vh;
    background: url(../img/parallax-2.webp) no-repeat center center / cover fixed;
}

/* 動画部分 */
.video-wrapper{
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}
.y-tube{
    width: 100%;
    height: 100%;
}

/* メニュー部分 */
.menu-wrapper{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 30px;
}
.menu-box{
    width: calc((100% - 60px) / 3);
    border-bottom: 2px solid var(--color_3);
}
.menu-box>a{
    color: var(--color_1);
}
.menu-box h4{
    font-size: 22px;
    font-family: var(--font_en);
    margin-bottom: 10px;
    padding-left: 20px;
}
.price{
    font-size: 18px;
    text-align: right;
    margin: 8px 0;
    padding-right: 10px;
}
.menu-box>a img{
    transition: 0.1s;
}
.menu-box>a:hover img{
    scale: 1.2;
}
.photo{
    overflow: hidden;
}
/* 電話のリンクをpcの時だけ無効に */
.tel{
    pointer-events: none;
    color:#111;
}
/* 店舗情報部分 */
.shop-wrapper{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.shop-list{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color_1);
}
.shop-list>dt{
    width: 30%;
    background-color: #fff8d2;
    font-weight: bold;
    padding: 30px 20px;
    border-right: 1px solid var(--color_1);
}
.shop-list>dd{
    width: 70%;
    padding: 30px 20px;
}
.shop-list>dt:nth-of-type(-n+3),.shop-list>dd:nth-of-type(-n+3){
    border-bottom: 1px solid var(--color_1);
}

.map-inner{
    width: 48%;
}
.g-map{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

/* よくある質問部分 */
.faq-wrapper{
    max-width: 800px;
    margin: 0 auto;
    background-color: #ede5b7;
    padding: 20px;
}
details{
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 20px;
}
summary{
    font-size: 22px;
    list-style: none;
}
details summary::-webkit-details-marker,
details summary::marker {
 display: none; /* iOSで▼を消す */
}
.answer{
    font-size: 18px;
    margin: 20px 0 10px;
    padding-left: 2em;
    text-indent: -1.8em;
}
summary::before{
    content:"Q";
    font-size: 24px;
    font-family: var(--font_en);
    margin-right: 16px;
    color: var(--color_2);
}
.answer::before{
    content:"A";
    font-size: 24px;
    font-family: var(--font_en);
    margin-right: 16px;
    color: var(--color_2);
}
summary:hover{
    text-decoration: underline 3px var(--color_3);
    text-underline-offset: 4px;
    cursor: pointer;
}
summary:hover::before{
    text-decoration: underline 3px #fff;
    /* text-decoration: none; */
    /* display: inline-block; */
}
/* 予約フォーム部分 */
.form-wrapper{
    max-width: 640px;
    margin: 0 auto;
}
#g-form{
    width: 100%;
}

/* カルーセル部分 */
.carousel li{
    width: 20%;
    aspect-ratio: 4/3;
}
.carousel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* footer部分 */
footer{
    width: 100%;
    background-color: var(--color_4);
    color: #ffffff;
}
footer>p{
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
}

/* サンクスページ */
.thanks-page>.main-visual{
    height: 60vh;
}
.thanks-page>.main-visual li{
    height: 60vh;
}
.thanks-wrapper{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}
.thanks-message{
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 2;
}
.to-top-page{
    width: 260px;
    margin: 0 auto 60px;
}
.to-top-page>a{
    display: block;
    padding: 16px 0;
    border: 2px solid var(--color_1);
    text-align: center;
    color: var(--color_2);
    border-radius: 10px;
    transition:  0.3s;
}
.to-top-page>a:hover{
    background-color: var(--color_3);
    color: #fff;
}
.sns-wrapper{
    display: flex;
    max-width: 640px;
    margin: 0 auto;
    justify-content: space-between;
}
.sns-wrapper>p{
    width: 48%;
    height: 60px;
    background-color: #d6edca;
}
.line>a{
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #06C755;
    line-height: 60px;
    background: url(../img/line.svg) no-repeat 20px 50% / 40px;
}
.insta>a{
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #FD2050;
    line-height: 60px;
    background: url(../img/instagram.svg) no-repeat 20px 50% / 40px;
}
.sns-wrapper a{
    transition: 0.3s;
}
.sns-wrapper a:hover{
    background-color: #f7f3dc;
}
/* pc時は改行を無効 */
.sp{
    display: none;
}

@media (max-width:900px){
    /* ギャラリー部分 */
.gallery{
    width: 70%;
    margin: 0 auto 150px;
}
.gallery>p:nth-of-type(2){
    right: -30px;
    bottom: -80x;
}
    /* メニュー部分 */
.menu-wrapper{
    gap: 40px 10px;
}
.menu-box{
    width: calc((100% - 10px) / 2);
}
.menu-box h4{
    font-size: 22px;
}
.price{
    font-size: 18px;
}
.menu-box>a img{
    transition: none;
}
/* パララックス部分 */
.parallax-1{
    height: 60vh;
    background: url(../img/parallax-1.webp) no-repeat center center / cover scroll;
}
.parallax-2{
    height: 60vh;
    background: url(../img/parallax-2.webp) no-repeat center center / cover scroll;
}
/* 電話のリンクをpcの時だけ無効に */
.tel{
    pointer-events: auto;
    color:#111;
}
}

/* 767px以下 */
@media (max-width:767px){
    /* pc時は改行を無効 */
.sp{
    display: block;
}
    /* ヘッダー部分 */
header{
    width: 80%;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}
h1{
    font-size: 36px;
}
.tag-line{
    font-size: 18px;
}
/* ナビゲーション部分 */
#btn{
    padding: 15px;
}
#g-nav>ul{
    width: 80%;
    padding: 40px 90px 0 20px;
}
#g-nav li{
    margin-bottom: 14px;
}
#g-nav a{
    font-size: 18px;
    padding: 6px;
}
#g-nav a::before{
    font-size: 13px;
}
/* メインビジュアル部分 */
.main-visual{
    height: 60vh;
}
.main-visual li{
    height: 60vh;
}
/* メインコピー部分 */
.main-copy{
    padding: 60px 10px;
}
.main-copy>h2{
    font-size: 26px;
    margin-bottom: 50px;
    line-height: 2;
}
.lead{
    font-size: 16px;
    line-height: 1.8;
}
    /* セクション部分 */
    section{
        padding: 100px 0;
    }
    /* ニュース部分 */
#news-list{
    display: block;
}
#news-list>dt{
    width: 100%;
    padding: 30px 15px 0;
}
#news-list>dd{
    width: 100%;
    padding: 10px 15px 30px;
}
/* 店舗情報部分 */
.shop-wrapper{
    display: block;
}
.shop-list{
    width: 100%;
    margin-bottom: 60px;
}
.map-inner{
    width: 100%;
    height: 320px;
}
summary{
    font-size: 18px;
}
.answer{
    font-size: 14px;
    text-indent: -1.8em;
}
}