@charset "utf-8";

:root{
 --color_1: #957743;
 --color_2: #cab082;
 --color_3: #eddcbe;
 --color_4: #fff7ea;
 --txt_color: #333333;
}

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

/* 共通パーツ */
.more-btn{
    width: 80%;
    margin: 0 auto 40px;
    &>a{
        padding: 16px 0;
        display: block;
        background-color: #fff;
        text-align: center;
        border-radius: 40px;
        transition: 0.1S;
        &::after{
            content:"";
            display: inline-block;
            width: 14px;
            height: 14px;
            border-top:2px solid var(--txt_color);
            border-right:2px solid var(--txt_color);
            rotate:45deg;
            margin: 0 0 -2px 16px;
        }
        &:hover{
            text-indent: 1em;
        }
    }
}


/* spレイアウト */
body,a{
    color: var(--txt_color);
}
header{
    width: 100%;
    height: 60px;
    background-color: var(--color_1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    position: fixed;
    top:0;
    left: 0;

&>h1{
    width: 300px;
    height: 40px;
    background: url(../img/logo.svg) no-repeat center center / contain;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    @media (min-width:800px){
        width: 100%;
        height: 60px;
    }
}
@media (min-width:800px){
    position: static;
    height: 140px;
    text-align: center;
}
}


/* ハンバーガーボタン */
#ham-btn{
    width: 44px;
    height: 44px;
    /* border: 2px solid #fff; */
    position: relative;
    display: block;
    @media (min-width:800px){
        display: none;
    }
}
#ham-btn>span{
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 0.1S;
}

#ham-btn>span::before{
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #f0c7c7;
    position: absolute;
    inset: 0;
    margin: auto;
    top: -16px;
    transition: 0.2s;
}
#ham-btn>span::after{
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #bfe4c4;
    position: absolute;
    inset: 0;
    margin: auto;
    bottom: -16px;
    transition: 0.2s;
}
#ham-btn.is-active>span{
    background-color: transparent;

}
#ham-btn.is-active>span::before{
    top:0;
    rotate:45deg;
}
#ham-btn.is-active>span::after{
    bottom:0;
    rotate:135deg;
}

/* ナビゲーション部分 */
#g-nav{
    display: none;
    width: 100%;
    height: calc(100vh-60px);
    background-color: var(--color_2);
    position: fixed;
    top:60px;
    left:0;
    z-index: 10;
    padding: 20px 40px;
    &>ul{
        &>li{
            margin-bottom: 10px;
            &>a{
                display: block;
                padding: 10px;
                border-bottom:2px dotted var(--color_4);
                color:var(--color_4);
            }
        }
    }
}
@media (min-width:800px){
    #g-nav{
        display: block;
        position: sticky;
        top:0;
        
        height: 50px;
        padding: 0;
        &>ul{
            display: flex;
            justify-content: center;
            height: 50px;
            align-items: center;
            &>li{
                margin: 0 10px;
                &>a{
                    border:0;
                    position: relative;
                    z-index: 2;
                    font-weight: bold;
                    &:hover::after{
                        content:"";
                        display: block;
                        width: 100%;
                        height: 14px;
                        background-color: var(--color_1);
                        position: absolute;
                        left: 0;
                        bottom: 6px;
                        z-index: -1;
                    }
                }
            }
        }
    }
    #g-nav.scroll{
        box-shadow: 0 8px 20px var(--color_1);
    }
}

@media (min-width:1080px){
 /*  スクロール時に小さいロゴを表示 */
   #g-nav::after{
    content:"";
    display: none;
    position: absolute;
    top:10px;
    left:30px;
    width: 200px;
    height: 30px;
    background: url(../img/logo.svg) no-repeat center center / contain
   }
   #g-nav.scroll::after{
    display: block;
   }
}


/* contents部分 */
.container{
    padding: 70px 10px 10px;
    max-width: 1366px;
    margin: 0 auto;
    @media (min-width:800px){
        padding: 10px;
    }
}
.contents{
    .content-box{
        display: flex;
        flex-direction: column-reverse;

        .content-txt{
            background-color: var(--color_4);
            padding: 40px;
            margin: 10px 0;
            &>h2{
                text-align: center;
                margin-bottom: 20px;
            }
            .text{
                margin-bottom: 20px;
                line-height: 1.8;
            }
            
        }
        &:nth-of-type(2)>.content-txt{
            background-color: var(--color_3);
        }
        .content-img{
            width: 100%;
            height: 50vh;
            &>img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        @media (min-width:800px){
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 10px;
            .content-txt{
                width: calc((100% - 20px)/3);
                margin: 0;
            }
            .content-img{
                width: calc((100% - 20px)/3*2 + 10px);
                height: auto;
            }
            &:nth-of-type(2){
                flex-direction: row;
            }
        }
    }

}/* .contentsの閉じ */

/* 1カラム部分 */
.col-1{
    background-color: var(--color_3);
    padding: 80px 40px;
    margin-bottom: 10px;
    text-align: center;
    &>h2{
        font-size: 26px;
        margin:0 auto 50px;
        line-height: 2;
        max-width: 600px;
    }
    &>p{
        line-height: 1.8;
        max-width:600px;
        margin: 0 auto;
    }
}

/* 3カラム部分 */
.col-3-wrapper{
    .col-3-box{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
        .col-3-txt{
            background-color: var(--color_4);
            padding: 40px;
            &>h3{
                text-align: center;
                margin-bottom: 20px;
                font-size: 24px;
            }
            .icon{
                width: 80px;
                height: 80px;
                background: #fff url(../img/icon-1.svg) no-repeat center center / 54px;
                margin: 0 auto 30px;
                border-radius: 50%;
                white-space: nowrap;
                text-indent: 100%;
                overflow: hidden;
            }
        }
        &:nth-of-type(2)>.col-3-txt{
            background-color: var(--color_3);
            .icon{
                background: #fff url(../img/icon-2.svg) no-repeat center center / 50px;
            }
        }
        &:nth-of-type(3) .icon{
            background: #fff url(../img/icon-3.svg) no-repeat center center / 54px;
        }
        .col-3-img{
            width: 100%;
            height: 40vh;
            &>img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        @media (min-width:480px){
            flex-direction: row-reverse;
            .col-3-txt{
                width: 50%;
            }
            .col-3-img{
                width: 50%;
                height: auto;
            }
        }  
    }
     @media (min-width:800px){
        display: flex;
        justify-content: space-between;
        .col-3-box{
            flex-direction: column-reverse;
            width: calc((100% - 20px) / 3);
        }
        .col-3-txt{
            width: 100%;
        }
        .col-3-img{
            width: 100%;
        }
    }

}/* .col-3-wrapperの閉じ */

/* footer部分 */
footer{
    width: 100%;
    padding: 40px;
    background-color: var(--color_2);
    &>p{
        text-align: center;
        margin-bottom: 30px;
    }
    .sns{
        display: flex;
        justify-content: center;
        &>li{
            width: 44px;
            margin: 0 20px;
            &:nth-of-type(2){
            width: 34px;
        }
        } 
    }
}

/* ローディングアニメーション */
#curtain{
    width: 100%;
    height: 100vh;
    background-color: var(--color_4);
    position: fixed;
    top:0;
    left:0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-box{
    width: 40%;
}

#layer_1{
    fill:var(--color_4);/* 塗り */
    stroke:var(--color_1);/* 線の色 */
    stroke-width: 2px;/* 線幅 */
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: svg 1.6s 0.5 forwards linear;
}
@keyframes svg{
    0%{stroke-dashoffset: 560px;}
    80%{stroke-dashoffset: 0;fill:var(--color_1);}
    100%{stroke-dashoffset: 0;fill:var(--color_1);}
}